<footer class="footer">
    <div class="content is-size-7">
        <img src={"https://img.shields.io/badge/Altenwald-#{BooksAdmin.vsn()}-green"} alt={"(v#{BooksAdmin.vsn()})"}/>
        <p>Copyright &copy; 2012-<%= DateTime.utc_now.year %></p>
    </div>
</footer>
